.UserHeader{
    text-align: center;
    border: 2px solid;
    color: 	rgb(2, 117, 216);
}
.SubmitStl{
    text-align: center;
    border: 2px solid 	rgb(92, 184, 92);
    background-color: 	rgb(92, 184, 92);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}
